header, main {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
}

fieldset {
    border: none;
}

fieldset > legend {
    display: none;
}

.input-field {
    margin-top: 2rem;
    position: relative;
}

.input-field input {
    padding: 0.8rem;
}

form .input-field:first-child {
    margin-bottom: 1.5rem;
}

form input[type="submit"] {
    background: linear-gradient(to left, #4776E6, #8e54e9);
    border-radius: 4px;
    color: white;
    display: block;
    margin-inline: auto;
    margin-top: 2rem;
    padding: 0.4rem;
}

#error-message {
    --font-color: red;
    align-self: center;
    color: var(--font-color);
    margin-top: 1rem;
    text-decoration: underline 1px solid var(--font-color);
}
